[2013-08-14 09:01] eugeneware opened #3 "Let's make campjs 2014 local network connectivity awesome."
Wifi and local network connectivity was a big challenge for the last campjs. Let's all put on our propeller hats and think of creative ways to make the next campjs better.

[2013-08-14 09:05] eugeneware commented on #3
My suggestions:
1. Worse case - set up a wired network for the large hacking areas. Still have WIFI, but that should be option B, not option A.
2. Look at setting up a separate "presenter/staff only network" to make sure that speakers can at least get the access they need to deliver their material in the best possible way.
3. Get some wifi conference guru to help us with the issue.
4. Ban any loca

[2013-08-14 09:10] aussiegeek commented on #3
I don't have advanced wifi knowledge, but happy to help in general with making networking and such more awesome

[2013-08-14 09:29] eugeneware commented on #3
Found some useful links:
- [Tips on how improve WiFi in conferences and other crowded venues](http://www.muniwireless.com/2012/10/17/tips-on-how-improve-wifi-in-conferences/)
- [The “WiFi At Conferences” Problem](http://www.joelonsoftware.com/items/2009/10/08.html)

[2013-08-14 11:06] timoxley commented on #3
The device we currently have at the internet source, as recommended by a network dude is a [RB2011UAS-2HnD-IN](http://routerboard.com/RB2011UAS-2HnD-IN):
[![523_l](https://f.cloud.github.com/assets/43438/961329/a2000a1c-04d0-11e3-87bf-72d2168e9577.jpg)](http://routerboard.com/RB2011UAS-2HnD-IN)

At the campsite also had 3 of these [UniFi AP units](http://www.ubnt.com/unifi#UnifiHardware):

[![ubnt

[2013-08-14 11:11] timoxley commented on #3
@geoffreyd @mipearson you may want to chime in on this with what you observed/learned. I noticed things were a lot smoother after @mipearson had a proxy set up.

[2013-08-14 11:18] AnnaGerber opened #4 "local npm mirror for campjs 2014"
Could we please have a shared local npm mirror for the next campjs?

I understand that some people had npmd or their own copy of the npm couchdb database but it would be great if this could be set up via transparent proxy for everyone to use, to reduce the load on the external connection, and make it fast for people to install packages to follow along with talks/workshops

[2013-08-14 11:45] mipearson commented on #3
So, @geoffreyd did the initial improvement by moving one of the UniFi APs into the main hall, thus sharing the ~100 device load over two aps. These APs are rated to above 30 devices per AP, not 50 or 100.

My work was simpler: I set up a transparent proxy. This had three benefits:
- we could block dropbox, youtube, apple software update
- frequently accessed resources were cached
- requests were s

[2013-08-14 12:00] eugeneware commented on #4
Hi Anna.

Thanks for the feedback.

We did have a local npm mirror on a local server at campjs. The issue was that the wifi contention meant that people simply couldn't get to the local mirror.

We posted the details of how to access the local npm repo at http://campjs (a local DNS entry).

I think having a transparent proxy to the local mirror is a great idea though as people would need to use so

[2013-08-14 12:04] geoffreyd commented on #3
Yup, the load balancing was the biggest improvement to reducing local packet loss, and the proxy for reducing internet packet loss.

Personally, I'm not sure I'd go for the UniFi AP's again, unless we had a whole bunch. I've seen much better performance from Airport Extremes, and easier setup to boot.

If we where to have Internet again, I think we might be better of blocking all access unless thr

[2013-08-14 13:03] nog3 commented on #3
It's important to note that some Macs with broadcom wifi will have issues with network equipment. Unifi stuff is usually pretty solid but it may be worth investigating a mac-only network or really just a separate g and n network.

[2013-08-15 01:09] sidorares commented on #3
My 2c: create raspberry pi image to use PIs (without any additional configuration) as access point (i think we had over 10 PI in total, maybe 20). Have ethernet hub with enough cables for all PIs. Install some advanced dhcp/dns/http proxies. I'm happy to try to implement dns/dhcp part in node.

[2013-08-15 01:16] timoxley commented on #3
The PI solution sounds interesting, especially since the devices are so cheap.

[2013-08-15 01:45] geoffreyd commented on #3
Having so many access points in the same area seems like it would cause
alot of noise ... 2.4ghz only really has 3 non overlapping bands (1, 6 &
11) ... I guess we'd have to see if this is more of an issue than too many
devices on the same channels.

Can the Pi's to 5gz? if they can, then we could spread things out more.

With getting the Pi's to be AP's are they able todo 'extended networks', as

[2013-08-15 01:45] mipearson commented on #3
This sounds clever, but risky: has this been attempted before with over 100 clients?

Remember that each AP needs to sit on its own channel, and those channels have crossover.

[2013-08-15 01:47] mipearson commented on #3
Oh. What @geoffreyd said :)

Paging @wolfeidau to the thread

[2013-08-15 01:57] sidorares commented on #3
@geoffreyd - I only tried 2.4Ghz usb wifi with PI (you can get them for 5 to 12$) 5Ghz seems to be more expensive - http://www.ebay.com/bhp/usb-wireless-adapter-5ghz  - 20 to 50$

[2013-08-15 02:21] mipearson commented on #3
Worth noting that the dual-band Airport Express is much cheaper at $120/unit than the dual band UniFi PRO at $270/unit.

I agree with @geoffreyd, and I think we should just buy a few airport express units and leave it at that.

[2013-08-15 02:25] eugeneware commented on #3
I agree. The airport express option is sounding pretty good. I guess we put them into bridge mode and hard wire the expresses to the main router? That way the main router can handle the NAT / DHCP management without melting down.

Were the APs at campjs this year wired together with ethernet?

[2013-08-15 02:27] mipearson commented on #3
Correct. Also, I suspect the bigpond modem (not the routeros unit) handled NAT&DHCP, which may have been part of the problem. Not 100% sure on this though.

[2013-08-15 02:29] geoffreyd commented on #3
Yeah, we had Cat5e connecting all the AP's and the router was doing the
NAT/DHCP/DNS.

I'm not sure about the newest Airport express's, but the old (non apple tv
looking ones), couldn't handle lots of connections, it was the Airport
Extremes that stood up well. Given that they also do duel band, this would
help spread the load.

Geoffrey D.

On Thu, Aug 15, 2013 at 12:25 PM, Eugene Ware notificati

[2013-08-15 02:31] geoffreyd commented on #3
@mipearson The net connection was double NAT'd, so the bigpond router saw our router as the only device. The biggest issue was just the pure number of connections ... I think having a manual proxy would eliminate a number of these issues.

[2013-08-15 02:33] mipearson commented on #3
According to apple, both the most recent Express & Extreme handle "up to 50 simultaneous users". No idea what that means in real world terms.

[2013-08-15 02:34] mipearson commented on #3
I agree with the manual proxy idea, btw.

[2013-08-15 02:39] geoffreyd commented on #3
Yes, but in real life, they do closer to ~150 pretty well. [This post](http://www.muniwireless.com/2012/10/17/tips-on-how-improve-wifi-in-conferences/) linked to by @eugeneware above seems to agree.

It might be that the expresses have upped their game recently.

[2013-08-15 05:08] geoffreyd opened #5 "A possible solution for Music at CampJS 2014-1"
This looks like a pretty neat service ... we might have to just make sure it can run offline.

https://github.com/play/play

[2013-08-15 10:46] iamkevinv commented on #3
I'm not convinced that we really need to manual proxy - kind of defeats the purpose of providing a network at all if we need people asking us "please sir, may I have some Internet?".

If we really enforce the Internet free campjs idea then that's probably appropriate, but as interesting the idea is, I think campjs needs Internet. The transparent prox and other systems in place did really well, the

[2013-08-15 10:50] iamkevinv commented on #3
Eugene's points 4,5,6 are really good to put in place. Wifi scanning tools periodically can ping hotspots and name and shame and block :-)

[2013-08-15 11:50] chrisdewar commented on #3
I am also pro-internet... even bad internet is better than no internet.

Regarding airport express's - it seemed there were a lot of apple users at campjs 2, i'll bet more than a few have airport express's - i know i keep one in my gadget pack as an essential. What about BYO airport?

[2013-08-15 12:00] timoxley commented on #3
Is there some easy way we can load test a solution prior to the camp?

[2013-08-15 12:05] colingourlay commented on #3
Yes, have everyone connect at once from phones and laptops at a BrisJS. That should give us 40+ devices.

[2013-08-15 12:18] antulik opened #6 "File sharing"
Every now and then files needs to be exchaned between users. If it's 1 to 1 and both on mac os then airdrop works well.

However would be good to have a better way to exchange files.

I recommend to make TorrentSync official way to exchange files at campjs
http://labs.bittorrent.com/experiments/sync.html

Any better alternatives?

[2013-08-15 13:00] chrisdewar commented on #3
[Vendor-Independent Access Point Analysis](http://www.wlanpros.com/wp-content/uploads/2013/02/Wi-Fi%20Stress%20Test%20Report.pdf)

[2013-08-15 13:07] timoxley commented on #3
tl;dr.

[2013-08-15 13:21] chrisdewar commented on #3
tl;dr = airport extreme > *

[2013-08-15 22:42] geoffreyd commented on #3
It also show we had probably the worst choice for such a high number of
apple devices. The unifi's pretty much came last.

On Thursday, August 15, 2013, Chris Dewar wrote:

##

Geoffrey D.

[2013-08-16 02:28] geoffreyd commented on #6
This is pretty cool ... I wonder if the creators of ZombieNet (developed at
the first CampJS) have polished it enough to work full scale. It is also a
distributed file sharing system.

Geoffrey D.

On Thu, Aug 15, 2013 at 10:18 PM, Anton Katunin notifications@github.comwrote:

[2013-08-16 04:36] eugeneware commented on #3
This is some great info guys. So it's sound like that getting a bunch of Airport Extremes and using our existing router is looking like the way to go?

[2013-08-16 05:27] timoxley commented on #3
can anyone give me a summary as to why airport extremes are good for this stuff? What do they have that other devices do not?

[2013-08-16 05:30] geoffreyd commented on #3
Basically, what they have that others don't is: people recommending (and
successfully using) them.

Geoffrey D.

On Fri, Aug 16, 2013 at 3:27 PM, Tim Oxley notifications@github.com wrote:

[2013-08-16 06:19] eugeneware commented on #3
I think (from the report that @chrisdewar linked to) - it was that the channel width was 40Mhz as opposed to 20Mhz for a lot of the other offerings. Not that I really know what that means though! :-)

[2013-08-16 10:44] chrisdewar commented on #3
IIRC Airport was the first Wifi, Steve Jobs presented it with an ibook and a hoola hoop... so Apple have been in the Wifi game since day dot. As for what it has that it's competitors don't, that is a tough one... especially when Apple plays it's cards so close to the chest, but I'll bite...
- Simultaneous dual-band
- 6 antennas (3 each?)
- 32.5 dBm radio output

and something that most AP vendor's

[2013-08-19 00:16] iamkevinv commented on #3
That guy's anecdotal claim of airport extreme hitting 170 connections is kinda wonderful, if it were true. However purely data wise how many of you read the "Vendor-Independent Access Point Analysis" report as above?

...with regards to the Airport Extreme, the advantage is it's wider channels == higher throughput in best case situations. However, if we're purely speaking about our needs... we nee

[2013-08-19 07:38] eugeneware commented on #3
Hi @kevdesign - thanks for summary.

Forgive my ignorance, but in what you're proposing, how do you divide the user groups across the two bands? Is this an automatic thing handled at the AP side, or will we need to manually split the load?

And the mesh network idea - does that mean that all the attendees can run some some software to join the mesh, or will we just put it on some mac hardware arou

[2013-08-19 11:16] iamkevinv commented on #3
You're absolutely right @eugeneware - it's manual unless you have the firmware facility to tell the 5ghz clients to fall back to 2.4ghz and try again. Some high end AP's do this, but i really have no idea if it exists on these AP's. Some AP's will only show up as 2.4ghz AP's once the 5ghz is full. Which is also pretty useful behaviour. More research required.

However, i was thinking...We could de

[2013-08-21 03:24] timoxley commented on #3
Had a professional weigh in:

[2013-08-21 04:05] sidorares commented on #3
What if we just ask people to bring ethernet cables and routers with them and try to put ethernet on each (or each second) table? This will make life those on wifi easier as well

[2013-08-21 04:05] cgiffard commented on #3
Ethernet seems like a pretty good way to avoid wifi congestion. Just tell people with ethernet-connected devices to switch off Wi-Fi.

[2014-01-20 08:59] timoxley opened #7 "Code of Conduct"
@pomke Can you check my draft code of conduct?

http://campjs.com/code-of-conduct.html

[2014-01-20 08:59] timoxley commented on #7
Any feedback very much appreciated.

[2014-01-20 09:01] rvagg commented on #7
needs a link at the bottom to where feedback/improvements can be provided, here I guess.

[2014-01-20 09:07] tjstebbing commented on #7
Looks great!

[2014-01-20 23:37] chrisdewar opened #8 "Standard Employer Pitch Document"
We should have some form of standard employer pitch document. Something simple that we can give to employers to convey the importance of this event, and the expected advantages and outcomes it will have for their dev staff.

My initial thoughts are that it should be a simple markdown file in a github repo, that we can then > html > pdf when required.

[2014-01-20 23:44] iamkevinv commented on #8
+1

[2014-01-20 23:58] shousper commented on #8
+1

[2014-01-21 00:11] colingourlay commented on #8
+0.8

[2014-01-21 00:12] niouton commented on #8
+3.14159265359

[2014-01-21 00:17] timoxley commented on #8
Happy to do this, perhaps somebody could get a draft started in the [campjs wiki](https://github.com/campJS/campjs/wiki/_new) and I'll move it onto the site later

[2014-01-21 00:18] timoxley commented on #8
i.e. writing copy is very slow and any help would be very appreciated.

[2014-01-21 00:26] chrisdewar commented on #8
Yep, I'll have a look at this at some point today, if someone doesn't get to it first.

[2014-01-21 00:34] timoxley commented on #8
Thanks @chrisdewar :kissing:

[2014-01-21 00:35] #7 closed, assigned to nobody

[2014-01-21 00:36] iamkevinv commented on #8
I did some brief research and thinking on what it should contain:

Needs to include the basics of location, date, and cost (including approx travel and hotel, if needed, from different capitals around Australia), and can summarize what you'll learn.

It would be useful to explain exactly what we can get out of CampJS and how it's content benefits your employers and/or team. What is it's unique val

[2014-01-21 00:48] timoxley commented on #8
@kevdesign great ideas

[2014-01-21 01:18] rvagg commented on #8
I seem to remember JSConf.au having a good one of these; I don't suppose anyone knows where it might be located?

[2014-01-22 02:48] timoxley commented on #8
@chrisdewar get a chance to draft this?

[2014-01-22 04:16] timoxley opened #9 "IRC: #campjs on Freenode"
Go there for chat.

[2014-01-23 07:17] MauriceButler commented on #8
I couldnt find one from JSConf but the one from WebDirections is here http://www.webdirections.org/downloads/wds13-why-send-the-team.pdf

[2014-01-23 09:15] timoxley commented on #9
Also #polyhack for general AU dev discussion

[2014-01-24 03:49] sporto commented on #5
Whatever we do, we need music that pleases mostly everyone or at least people don't dislike it, we had several periods on previous camps where a few people will dictate music that was hardly enjoyable, not because I am developer I like 80's video games music as background

[2014-01-24 05:20] timoxley commented on #5
this is a tricky one. I'd prefer to just pick somebody to be in charge of queuing music and be done with it. Not a big fan of allowing anyone to pick music as then you just get everyone showing off their best novelty songs.

There's a bit of an art to picking the right music, I don't claim to be good at this at all. Perhaps somebody in the campjs community has some DJ skills and could help out her

[2014-01-24 05:48] AnnaGerber opened #10 "NodeBots at CampJS III"
Continuation of discussion at https://github.com/ajfisher/nbdau/issues/10

I put in a workshop proposal on this topic yesterday, keen to be involved:)

I can bring my own experimenters kits (upgraded to less dodgy Arduino clones than last time) and we could also use the NBD SimpleBot kits.

I'm working on adding more mobile robot specific exercises to node-ardx at the moment (locomotion, sensors e

[2014-01-24 08:55] timoxley opened #11 "CampJS nodeschool workshops"
Going to need volunteer tutors for the various nodeschool workshops. Focus will be on the core workshops.

Proposed workshops and currently assigned mentors:
### Learn You Node
- @rvagg
- @SomeoneWeird
- @pomke
- @timoxley
- @deoxxa
### Stream Adventure
- @rvagg
- @timoxley
### Bytewiser
- @deoxxa
- @rvagg
### Functional Javascript
- @timoxley
- @pomke

Workshops will run twice.

If there's enough

[2014-01-25 00:29] ajfisher commented on #10
Cool - I'd be happy to help run it with you @AnnaGerber

So the biggest concern I have is really the timing around getting people up and running versus their "productive" time afterwards. As we've seen at all the NodeBots events those who's environments "just work" tend to get cracking inside 30 minutes but those who don't can end up taking a solid hour or two. With a 90 minute window that may cau

[2014-01-25 02:13] nog3 commented on #10
I'll be attending too, so I'll put my hand up to help out.

[2014-01-25 13:08] AnnaGerber commented on #10
@ajfisher I'm hoping with this audience that people will already have at least node installed and working which should save some time.  I think that encouraging people to work in pairs would be a good way to get around the problem too - if we can't get your environment set up after 30 minutes, team up with someone who has a working environment.  Good idea on pre-building the simple bot kits to sav

[2014-01-26 07:59] timoxley opened #12 "Show off your Open Sources"
Many Australian developers have lots of cool stuff we simply never hear about, and it'd be good to be able to provide a lot more support and exposure for locally grown software.

CampJS will run an official "show off your open sources" time slot, where everyone gets a chance to give a quick overview of their open source stuff. Slots could be limited to 10 mins so everyone gets a chance.

This will

[2014-01-26 09:33] SomeoneWeird commented on #12
+1 if we do this near the start of the camp people can offer to help others hack on things :)

[2014-01-26 09:35] timoxley commented on #12
That's another thing I'd like to do, perhaps on the friday night allow people to do some announcements "what I'm hacking on" but we really need some local intranet support for this kind of thing.

[2014-01-26 22:22] geoffreyd commented on #12
I think the intranet site for "I'm currently hacking on" would also be a great place for "I usually hack on". Then a dedicated block for people to explain what they do would be neat, as some of these projects can be hard to grok from a quick glance at a repo.

[2014-01-27 00:55] deoxxa commented on #12
The "I usually hack on ..." idea sounds cool. It could open the avenue for someone who might not have done, say, 3D graphics before to jump in headfirst and ask certain people around the conference (or room!) about things that they don't get. The "I'm currently hacking on ..." bit could do that in reverse - one might see someone working on something that they know a lot about, so they might go ask

[2014-01-27 08:10] chrisdewar commented on #8
TBH I haven't had a lot of time to spend on this, but I have made a start on it. I will add it to the wiki now.

update: https://github.com/campJS/campjs/wiki/Employer-Pitch-Document

[2014-02-01 16:23] timoxley commented on #11
Anyone wants to step up and do any of these we'll be very :+1:  https://github.com/nodeschool/discussions/issues/181

[2014-02-01 23:36] sidorares commented on #11
How about "finding a bug" workshop instead "using debugger". There is a list of programs with bugs and you need to fix them. From very simple syntax errors to intermediate "wrong context" and async race conditions to memory leak hunting

[2014-02-02 01:46] timoxley commented on #11
Sounds good, though I cc'ed you on that because i recall you were doing some interesting stuff with debugging enabled? what was that?

[2014-02-02 01:54] sidorares commented on #11
I demoed  https://github.com/sidorares/node-vim-debugger last campjs

I also have https://github.com/sidorares/node-cli-debugger , https://github.com/sidorares/ni and for Chrome DevTools https://github.com/sidorares/crconsole and https://github.com/sidorares/crmux - Eventually I'd like to make vim-based debugger which can talk to node/v8 and crome/firefox/... at the same time ( and if you reuse js

[2014-02-06 02:27] timoxley commented on #10
What else needs to happen to make this a thing? Do you require a budget?

[2014-02-06 02:34] wolfeidau commented on #10
I would be more than happy to volunteer as a helper and bring any stuff I have.

Really enjoyed the Melbourne one so keen to see this happen if possible.

[2014-02-06 06:04] AnnaGerber commented on #10
I don't think we _need_ a budget because between all of us we probably have enough gear to run a basic workshop.

But if there was some budget for some extra arduinos, sensors etc for people to experiment with over the duration of campjs (and that we could keep as a pool of kit for future events), that would be great.

[2014-02-06 18:19] timoxley commented on #10
@AnnaGerber interesting, how much is "some budget"?

[2014-02-07 00:19] AnnaGerber commented on #10
@timoxley That big box of sensors I had with me last campjs sells for $50. Arduinos are around $30 each locally, or cheaper if we order them from China. The complete simplebot kits for node bots days ended up being about $80 each. So I'd say a minimum of $100, but the more budget we have, the more parts we could add.

[2014-02-07 08:27] AnnaGerber commented on #12
+1 this would also be a great way to get beginners or those who haven't done much open source stuff into it (i.e. "what I'd like to be hacking on")

[2014-02-08 05:26] timoxley opened #13 "Transport to/from CampJS"
Information about times, etc about busses/etc to/from CampJS should go here.

[2014-02-11 01:06] garrows commented on #13
Tiger airways has
Fri 23rd   $62 Bris - Melb @ 9.55am - 12.20pm   and
Mon 26th $55 Melb - Bris @ 3.45pm - 5.55pm
Some earlier on Monday for $62.

[2014-02-11 01:21] garrows opened #14 "Open Web/Git Server at CampJS"
It would be useful if we had an open (or semi open) webserver at campjs that people could put their projects on.

Perhaps hosting a NPM mirror on it would be good too.

[2014-02-11 01:43] timoxley commented on #13
We should aim to have busses leave the airport around 1pm with some leeway if there are flights arriving just after 1. Bus should swing past the CBD or nearby trainstation on its way to the camp cc @geoffreyd

[2014-02-13 02:27] MauriceButler commented on #11
@sidorares seams your more qualified to do a debugging workshop than myself. Based on that @timoxley I should let @sidorares take that one over?

[2014-02-13 02:28] sidorares commented on #11
Can we do it together?

[2014-02-13 02:48] MauriceButler commented on #11
Happy to do that too.
I was going to work on a "binary" bomb style debugging workshop (suggestion from @timoxley)
Haven't had a chance to look at it yet though.

[2014-02-16 03:19] balupton opened #15 "Are issues here only for confirmed talks, but also for brainstorming proposals?"
Some labels or a CONTRIBUTING.md would help perhaps.

[2014-02-16 04:39] timoxley commented on #14
We're planning on hosting an npm mirror and having dokku deployed on the network so people can easily get their projects hosted.

[2014-02-16 04:48] timoxley commented on #15
Issues are for anything, this is free and open discussion. i.e. if you want to brainstorm more around your proposal, just open an issue.

[2014-02-16 05:13] timoxley commented on #15
Added a contributing.md, updated labels.

[2014-02-16 05:13] #15 closed, assigned to nobody

[2014-02-16 06:27] garrows commented on #14
That's awesome. I was going to mention docker but I haven't tested it out yet. Dokku looks awesome.

[2014-02-16 06:27] #14 closed, assigned to nobody

[2014-02-21 08:28] timoxley opened #16 "the printing on campjs II shirts was terrible"
I'm really sorry! Artwork was decent but the way it was printed was an absolute disaster. Let's not do that again.

[2014-02-24 05:27] timoxley commented on #12
Also related: I'm trying to have a local [dokku](https://github.com/progrium/dokku) setup for the event, courtesy of @eugeneware

[2014-02-25 11:14] toolmantim commented on #16
I use http://psionline.com.au/ and have done so for the RubyConf tees and many of the Railscamp tees. I order ASColor tees through them, and get discharge ink printing. The end result is top quality, and they last forever. Mary (mary@) is the contact.

[2014-03-06 05:04] timoxley commented on #3
Information about the available network:

•             The Camp has an ADSL connection (not adsl 2+).  Download speeds are approx. 4MB and upload is approx. 0.80MB.
•             There are wireless networks in the Mess Hut, Staff Hut and most of the Exec Hut. If it makes it easier for them, I can make them all the same name and password so they don’t have to connect to different wireless networks

[2014-03-06 05:05] timoxley commented on #3
![somerscampplan_june2012 copy 2](https://f.cloud.github.com/assets/43438/2342079/f55da414-a4ec-11e3-95d2-f5558e0d729d.jpg)

[2014-03-06 05:08] mipearson commented on #3
Okay. Given that one of the big problems at the last camp was the border
getting overloaded with connections (poor widdle consumer grade NAT table),
can we set up an interstitial RouterOS proxy again?

Also, any indication of what gear they're using for the wireless? I'm
assuming $50 officeworks stuff, but might be surprised.

On Thu, Mar 6, 2014 at 4:05 PM, Tim Oxley notifications@github.com wrot

[2014-03-06 08:23] timoxley commented on #3
The gear at the venue:

[code]

cc @mipearson

[2014-03-06 08:23] timoxley commented on #3
@mipearson what's involved in this?

[2014-03-06 08:28] mipearson commented on #3
I'm not sure on the status of the routeros box we used last time - if it
belongs to CampJS and the configuration hasn't been changed, then it should
be mostly plug & play. Maybe a little bit of fiddling. I forget.

On Thu, Mar 6, 2014 at 7:23 PM, Tim Oxley notifications@github.com wrote:

##

Michael Pearson

[2014-03-06 08:32] timoxley commented on #3
@mipearson yep, that was one of [these](http://routerboard.com/RB2011UAS-2HnD-IN) and it's sitting, unchanged, in a box at my home.

[2014-03-06 08:47] mipearson commented on #3
Quick google shows me that all the APs are OfficeWorks <$100 items.
So -- probably not good enough, certainly worse than the UniFI items used
at last camp.

If possible (budget?), I recommend we go with the Airport Express plan. We
set them up _in addition_ to the APs they already have. We keep the
passwords for the TP-LINK & NETGEARs secret, put everybody on the Airport
Expresses, make sure they'

[2014-03-12 00:18] eugeneware commented on #3
I assume we're still going with a wired network for a worse case situation and to take load off wifi? You can do stuff with out internet, you can't do much without a local network. Very hesitant to rely 100% on wifi.

[2014-03-12 03:32] iamkevinv commented on #13
What approx time is the bus leaving the venue for the airport on the monday; or rather, what >time should we schedule our return flights for? :)

[2014-03-12 05:28] timoxley commented on #13
@kevdesign: Arrive before midday. Leave after midday.

[2014-03-19 05:31] MauriceButler commented on #11
Hey @timoxley any word on if you want / need this?  If so going to have to pull my finger out.

[2014-03-19 05:37] sidorares commented on #11
I might be able to make a small talk/workshop on how to write Atom package (as an example - Atom node.js debugger)

[2014-03-19 05:44] timoxley commented on #11
That's a pretty awesome idea @sidorares. Actually, brilliant. Can I lock that in?

[2014-03-19 05:44] timoxley commented on #11
@MauriceButler any experience with building packages for atom?

[2014-03-19 05:47] MauriceButler commented on #11
Would love to.
But its mac only.... :'(

[2014-03-19 05:48] MauriceButler commented on #11
Linux or Windows would have been fine...
Happy to help / learn though

[2014-03-19 05:49] sidorares commented on #11
:) I just got my invite a day ago, but everything seems to be straightforward for someone with node background. Can we legally allow to install our copy just for workshop? (we might ask GH and get enough invites beforehand)

[2014-03-19 06:42] timoxley commented on #11
@sidorares if you have one invite remaining… we could seed all of campjs

[2014-03-19 06:43] colingourlay commented on #11
I've still got two
On 19 Mar 2014 16:42, "Tim Oxley" notifications@github.com wrote:

[2014-03-19 06:44] deoxxa commented on #11
I've got 3 apparently.

[2014-03-19 06:50] sidorares commented on #11
I have two, and I guess everyone invited gets 2 immediately? We could start invite seed in "pre camp-js demo announcements" and have atom hack session last day afternoon

[2014-03-19 06:52] SomeoneWeird commented on #11
I have 1, 2.

[2014-03-19 06:58] timoxley commented on #11
@sidorares sounds good to me. @SomeoneWeird @colingourlay if you could keep at least one of them for campjs that'd be swell :v:

[2014-03-19 06:59] SomeoneWeird commented on #11
The OSX-only thing may kill it though, how many people were using OSX? (I presume the majority)

[2014-03-19 07:00] timoxley commented on #11
@SomeoneWeird Majority, but not as large a percentage as I thought there would be.

[2014-03-19 07:27] MauriceButler commented on #11
There will be enough OSX to fill the session I am sure.

The rest of us cool kids will have to find something else to do

[2014-03-24 00:55] jonathanong commented on #5
karaoke

[2014-03-24 14:02] antulik commented on #5
agree with @timoxley we had the same problem at jelly and I'd say we are better off with one or two people in charge of playlist

[2014-03-27 02:13] rvagg commented on #5
Right, I'm going to be assertive here. I'm in charge of music since I'm general soundie for the weekend. Happy to relinquish if someone else comes forward with a better claim to this job.

My choice of music will be similar to the previous two CampJS' playlists, general downtempo/chill/electronic working music. My playlist will likely consist largely of: Emancipator, Bonobo, Saltillo, Little Peopl

[2014-03-27 02:27] timoxley commented on #5
@rvagg :+1: :+1:  sold.

Thanks Rod. This is the right attitude, I'd like others to feel welcome to nominate themselves to be in charge of any other aspect of campjs of which they feel they could provide a valuable contribution.

[2014-03-27 02:36] timoxley commented on #3
@eugeneware sadly, I'm leaning towards trying our luck with wireless again since wired necessarily requires an awful lot of setup, cable, devices and adaptors.

We need to figure out what/how many devices to purchase and just treat it as an investment in future campjs events.

[2014-03-27 03:59] wolfeidau commented on #3
Yeah also given some mac's don't even have ethernet plugs anymore it would be wiser to go with wireless.

Is there any information about the site layout at all?

This would help in assessing how it could be covered with wireless, and what equipment may be needed.

[2014-03-27 06:41] wolfeidau commented on #3
Just scrolled up and saw the massive map... My bad

[2014-03-29 05:08] SomeoneWeird commented on #7
Needs information about who to contact at the event (@timoxley, other staff members etc).

[2014-03-29 14:23] SomeoneWeird commented on #7
Looks good :thumbsup:

[2014-03-29 14:50] timoxley commented on #7
Rad :+1:

[2014-04-02 07:59] pablodenadai commented on #13
@timoxley would it be possible for the bus to pick me up from around the CBD?

[2014-04-12 03:44] timoxley opened #18 "CampJS Sessions"
Presenters!
- @domenic
- @juliangruber
- @groundwater
- @hij1nx
- @rvagg
- @ianstormtaylor
- @anthonyshort
- @DamonOehlman
- @balupton
- @AnnaGerber
- @ajfisher
- @wolfeidau
- @garrows
- @nog3
- @geelen
- @benschwarz
- @codemiller
- @pomke
- @SomeoneWeird
- @deoxxa
- @tmpvar
- @pauljt
- @sidorares
- @tadatuta
- @alexmackey
- @weilu
- @markdalgleish
- @mjt01
- @davidmason

I have put most/all of th

[2014-04-12 04:36] timoxley commented on #16
Got a better supplier. This should be fixed.

[2014-04-12 04:36] #16 closed, assigned to nobody

[2014-04-12 04:46] timoxley opened #20 "Book Swap"
Same as last Camp:

Bring your old Tech books! Stop lining your shelves with books you won't read again because you think it makes you look smart or fancy. They're a pain in the ass to move around, and they're probably a fire hazard. Give them to someone who will read them!

Bring as many books as you can, no php books though.

[2014-04-12 05:14] DamonOehlman commented on #18
Great work as always Tim - see you all there :)

[2014-04-12 08:04] SomeoneWeird commented on #18
Looks good, just the suggestions I had on irc :thumbsup:

[2014-04-12 08:35] davidmason commented on #18
Done: https://github.com/campJS/campjs/pull/21

[2014-04-12 10:44] juliangruber commented on #18
LGTM!

[2014-04-12 13:43] tadatuta commented on #18
everything's fine, thanks!

[2014-04-12 17:58] anthonyshort commented on #18
Nice one, thanks :)

[2014-04-13 01:01] balupton opened #22 "Special dietary requirements"
Not sure yet how special dietary requirements are being honoured, so creating this issue. @timoxley perhaps you can take it over and use this as the listing.

Lacto-Ovo-Vegetarian:
- ...

Strict Vegetarian / Vegan:
- @balupton

Allergies:
- ...

[2014-04-13 01:04] balupton commented on #18
Looks great! Great to see you again @tadatuta :-)

[2014-04-13 02:24] sidorares commented on #18
Looking forward to see BEM presentation @tadatuta ! ( ex Yandex.Mail backend developer here :) )

[2014-04-13 03:00] timoxley commented on #22
@balupton When you fill out ticket details it will ask you there.

[2014-04-13 03:09] balupton commented on #22
... I filled out ticket details?

[2014-04-13 03:55] timoxley commented on #22
It should have asked about diet.

[2014-04-14 07:19] mursya commented on #18
Cool, guys! Thanks a lot! @balupton @sidorares So cool to see you there! Hopefully everything will be ok with visa. @sidorares Привезти тебе привет от почты или чего-то из Москвы? :)

[2014-04-14 07:43] sidorares commented on #18
@mursya :) мне Егор Ганин когда-то давно обещал фирменные почтовые стикеры на ноут, но так и не прислал. Привезите, если еще остались

[2014-04-15 07:54] mursya commented on #18
@sidorares посмотрю, что смогу сделать :)

[2014-04-16 10:18] rvagg opened #29 "campjs.slack.com"
We have a Slack.com account for CampJS, everyone who has a ticket should have received an invite to join. If you haven't got one, please let us know (here, or in some other way).

This should solve a bunch of problems as long as we can get enough bandwidth to be connected while at the venue! The mobile apps are good but the best features for are us are going to be the topic-specific channels, anno

[2014-04-16 10:25] SomeoneWeird commented on #29
I didn't get one :(

[2014-04-16 10:27] rvagg commented on #29
rectified, perhaps it's at your work email address?

[2014-04-16 10:38] SomeoneWeird commented on #29
Sigh, still no email, I'll chat to you when I get home. :)
On 16/04/2014 8:27 pm, "Rod Vagg" notifications@github.com wrote:

[2014-04-16 23:45] markmandel commented on #5
Just thought I'd throw a random fun thought in. Could also set up a http://plug.dj/ room and use that as the music source.

Of course it uses up a decent amount of bandwidth, so that may make it a no go. Just an idea.

[2014-04-17 09:20] timoxley commented on #5
@markmandel yeah bandwidth will be prohibitive, solution needs to run locally.

[2014-04-17 09:42] timoxley commented on #20
Also note: if you collected a book at the previous camp, please return it to the collection at the upcoming camp, _especially if you haven't read it yet_. I gave away my entire library at the last event, hoping to see at least some of them return and get passed-on.

I'm wondering if we should've implemented some tracking at the last event, so even if people aren't attending an upcoming campjs, the

[2014-04-17 12:58] markmandel commented on #5
@timoxley That sounds an awful lot like a challenge :smile:

[2014-04-25 10:26] pablodenadai commented on #13
@timoxley just wondering if we can arrange to get the bus from the CBD going towards the venue?

[2014-04-25 23:59] timoxley commented on #13
@pablodenadai yes! there will be a bus from the CBD.

[2014-04-30 05:34] sporto commented on #20
Worth announcing this on tweeter and emails

[2014-04-30 05:37] timoxley commented on #20
Agree. Done https://twitter.com/campjsnews/status/461379282728525824

[2014-05-01 09:13] timoxley commented on #18
Does anyone on this list NOT have a ticket?

[2014-05-01 09:21] rvagg commented on #18
:raised hand:

[2014-05-01 09:27] timoxley commented on #18
:+1:

[2014-05-03 02:03] domenic commented on #18
Hmm I don't think I have any formal tito emails or similar.

[2014-05-03 05:38] balupton commented on #13
Anyone planning to hitchhike or drive to/from Sydney? After reading the moneyless manifesto I've decided to give hitchhiking a go.

_Update: Hrmmm... hitchhiking may take more than a day... May just get a flight._

[2014-05-03 08:12] timoxley commented on #18
@domenic ok cool, I've sent something your way.

[2014-05-04 12:54] balupton commented on #29
Didn't get an email.

[2014-05-07 04:51] stennie commented on #20
Maybe worth creating some CampJS labels & tagging for [BookCrossing](http://www.bookcrossing.com) or a similar service (if there is one)?

[2014-05-08 09:16] timoxley commented on #20
Not a bad thought, we'll look into it.

[2014-05-15 11:18] mipearson commented on #3
@timoxley Does campjs still have the UniFi (non-pro) APs that were used at the last camp? And do they still have the network cabling & PoE adapters?

[2014-05-15 11:24] timoxley commented on #3
@mipearson nope, we only have the routerboard and an airport extreme.

[2014-05-15 11:27] eugeneware commented on #3
In that case I'm going to along a few airport extremes as well just in case.

On Thu, May 15, 2014 at 9:24 PM, Tim Oxley notifications@github.com wrote:

##

_Eugene Ware_
Chief Executive Officer

Phone: +61 3 9955 7041
Email: eugene@noblesamurai.com
Twitter: @EugeneWare http://twitter.com/EugeneWare

_Noble Samurai Pty Ltd_
Level 1, 234 Whitehorse Rd
Nunawading, Victoria, 3131, Australia

noblesa

[2014-05-15 11:29] mipearson commented on #3
eugene, that'd be excellent: I was weighing up getting both a unifi & extremes, just in case one worked and the other doesn't. If you're bringing an extreme that frees up a bit of money.

And if they _do_ really work, we can buy them for the camp next time.

[2014-05-15 11:58] mipearson commented on #3
@timoxley, shopping list draft:

$550: 1x miniserver. Intel NUC, dual core 1.7ghz, 128gb SSD storage, 4gb ram. Wired directly to the routerboard via GigE. Will act as a fileserver & basic webserver. Could also set it up to do proxying, DNS, DHCP, UniFi controller, etc. May be an idea to add a 1TB external drive or similar for extra storage, or pay an extra $100 and bump the SSD to 250 GB. Alternat

[2014-05-15 12:02] eugeneware commented on #3
I'm brining a mac mini with 16gb which I'll be hosting a local dokku
server. I'll TRY to have an npm server on there, but I'm having a lot of
trouble getting npm to keep synced.

Perhaps @rvagg can share any magical tricks to keeping a full npm repo up
and syncing without sacrificing chickens? :-)

On Thu, May 15, 2014 at 9:58 PM, mipearson notifications@github.com wrote:

##

_Eugene Ware_
Chief

[2014-05-15 12:03] eugeneware commented on #3
I also have 3 or so airport expresses (most are not 5Ghz unfortunatey) that
I can probably bring along if that would help.

On Thu, May 15, 2014 at 10:02 PM, Eugene Ware eugene@noblesamurai.comwrote:

##

_Eugene Ware_
Chief Executive Officer

Phone: +61 3 9955 7041
Email: eugene@noblesamurai.com
Twitter: @EugeneWare http://twitter.com/EugeneWare

_Noble Samurai Pty Ltd_
Level 1, 234 Whitehorse Rd

[2014-05-15 12:03] rvagg commented on #3
no magic recipes with npm at the moment, I'm in the process of redoing the way that npmjs.org.au does it cause everything's changed at npmjs.org for replication.

**but** I have a 256G SSD-style USB stick just for npm which I'll be bringing and can either plug it in to someone's computer to host npm or put my Raspberry Pi on the network to do it (and cross my fingers...)

[2014-05-15 12:04] rvagg commented on #3
@mipearson also perhaps worth considering a Gigabyte Brix instead of a NUC? They're mostly cheaper versions of the same thing.

[2014-05-15 12:06] eugeneware commented on #3
@rvagg what file system is on the USB stick? Does it need linux? Guess we
could plug into @mjpearson's linux minserver?

Definitely bring it along though!

On Thu, May 15, 2014 at 10:03 PM, Rod Vagg notifications@github.com wrote:

##

_Eugene Ware_
Chief Executive Officer

Phone: +61 3 9955 7041
Email: eugene@noblesamurai.com
Twitter: @EugeneWare http://twitter.com/EugeneWare

_Noble Samurai Pty

[2014-05-15 12:08] timoxley commented on #3
@mipearson @rvagg if @eugeneware brings his mac mini then we should be set for server I guess, though is it a good idea to drive infrastructure from the same machine that we're allowing users to upload their apps to?

[2014-05-15 12:08] SomeoneWeird commented on #3
@eugeneware @mipearson **

I can probably bring my old laptop along and we can use it as a server if needed. It's pretty beefy, just without a hdd atm.

[2014-05-15 12:08] rvagg commented on #3
I think I have it as ext4 atm but I can be flexible if need be. Perhaps I should also set up npm as a Docker container to alleviate some of the CouchDB pain involved in making it actually run.

[2014-05-15 12:12] timoxley commented on #3
@mipearson I'm happy with whatever you're suggesting, your call!

[2014-05-15 12:14] timoxley commented on #3
What's pros/cons of the Gigabyte Brix vs NUC @rvagg suggested?

[2014-05-15 12:14] eugeneware commented on #3
@rvagg would love an npm Dockerfile! :-)

On Thu, May 15, 2014 at 10:08 PM, Rod Vagg notifications@github.com wrote:

##

_Eugene Ware_
Chief Executive Officer

Phone: +61 3 9955 7041
Email: eugene@noblesamurai.com
Twitter: @EugeneWare http://twitter.com/EugeneWare

_Noble Samurai Pty Ltd_
Level 1, 234 Whitehorse Rd
Nunawading, Victoria, 3131, Australia

noblesamurai.com http://www.noblesamurai.co

[2014-05-15 12:17] mipearson commented on #3
@timoxley seems to work fine for railscamp :)

Your call on whether you want to run stuff off of Eugene's machine to save a few bucks this round or set up something a bit more permanent.

Question is still open re gear for other spaces. If Eugene brings his airport expresses, we're okay. Thinking of people trying to run demos in rooms, that sort of thing

@rvagg You're right - that wipes about $10

[2014-05-15 12:20] mipearson commented on #3
Okay. Bedtime. I'll be heading to scorptec tomorrow to get these items. If we do go with a campjs-specific miniserver I'll configure it over the weekend.

[2014-05-15 12:23] timoxley commented on #3
@mipearson yeah just get the server.

@eugeneware also plan to deploy this dokku business up to a server somewhere afterwards. I'd like to be able to do an `appname.iii.campjs.com` so each camp's demos can live on after the camp is over.

[2014-05-15 12:58] timoxley commented on #3
may be worthwhile getting this up and running on the server https://github.com/cdnjs/cdnjs

[2014-05-15 15:36] juliangruber commented on #5
@hij1nx we could bring our guitars and play through amp.js, maybe someone wants to do substackesque algorithmic music too?

[2014-05-15 15:53] heapwolf commented on #5
Hah! that would be awesome, but i have several stops afterword so i wont be able to bring something that big. :(

[2014-05-15 16:32] juliangruber commented on #5
ok, yeah i'd worried about my guitar too even for that one stop

[2014-05-15 21:07] mipearson commented on #3
@timoxley Doing more research: even with the pro, we will probably still have issues as you can only put a certain number of devices on each radio. Also doing a bit of googling I've found anecdotes of issues with Apple devices (which is consistent with my experience at out office - I just thought it was my laptop).

One thing I didn't also know is that airport express will allow roaming.

So, what

[2014-05-15 22:09] mipearson commented on #3
ref, unifi pro apple issues: https://community.ubnt.com/t5/UniFi/Apple-macbook-connection-issues/td-p/468937

[2014-05-15 22:30] timoxley commented on #5
@juliangruber @hij1nx I'd love this to happen. Let's see if we can find someone who can bring some guitars

[2014-05-15 22:44] groundwater commented on #13
I'm scheduled to arrive at 9am at the airport. How will I find the bus?

[2014-05-15 22:55] timoxley commented on #13
@mauricebutler can I put you in charge of making sure people get on the bus?

[2014-05-15 23:03] geoffreyd commented on #3
I'm also bringing my Airport Extreme (flat style, non-dual band, N 2.4 or 5gzh) and Airport Express, so we should be able to share the load.

[2014-05-15 23:12] eugeneware commented on #3
Hi @mjpearson,

I'll be bringing 2xlast gen airport expresses (2.4ghz), and 1xcurrent gen
(dual band) airport express. I think the 2.4ghz can't take many
connections, but the current gen one can.

And yes, I have them set up at home for roaming. My set up at home is that
they are all connected via ethernet, and they just broadcast on the same
SSID and WPA details.

I'll also bring a last gen (but

[2014-05-16 00:03] MauriceButler commented on #13
@timoxley yeah I can do that

Think @korynunn and I are the first to arrive so makes sense.

If you give me the details Of where when I can make sure the congo line gets there

[2014-05-16 00:05] MauriceButler commented on #5
I have a less than awesome one but it is electric acoustic with USB out.

I cant play it yet though would love someone to teach me!

[2014-05-16 00:05] mipearson commented on #3
Excellent news. If that works well CampJS can buy some of their own for next camp.

My big worry is purchasing hardware and then having it not actually work in real world conditions :/

[2014-05-16 00:06] geoffreyd commented on #13
@MauriceButler Thanks!! ... you think you could print of a nice A4 "CampJS" so you're easy to find.

And if your OK with it, could you PM me your mobile so I can give it to the bus driver incase he has to track you down?

[2014-05-16 02:30] MauriceButler commented on #13
@geoffreyd No problem.

Where do you want me to PM?

Twitter easiest?

[2014-05-16 06:04] juliangruber commented on #5
any time haha

[2014-05-17 02:48] timoxley commented on #13
@MauriceButler can you do both busses?

[2014-05-17 07:56] haustraliaer commented on #29
Can I have an invite please? Email used -> david@idealogue.io
Thanks!

[2014-05-17 08:09] timoxley commented on #29
@balupton @haustraliaer

![image](https://cloud.githubusercontent.com/assets/43438/3004424/836c9216-dd9a-11e3-9248-6a603e81412e.png)

[2014-05-17 09:24] balupton commented on #29
I'm in. The invite email got lost far away of my inbox, eventually found it. Cheers!

[2014-05-18 10:22] balupton commented on #29
@DamonOehlman is missing

[2014-05-18 10:28] DamonOehlman commented on #29
That's my fault - I'll sort that out.

[2014-05-19 01:07] MauriceButler commented on #13
Yeah I could. Will be at airport for ~6 hours then.

Im sure there is a pub there somewhere. :smiley:

[2014-05-19 03:20] timoxley commented on #13
@MauriceButler your loyalty and sacrifice will never be forgotten

[2014-05-19 03:39] KoryNunn commented on #13
@MauriceButler we're set: http://bit.ly/1mL5iuX

[2014-05-19 04:34] groundwater commented on #13
@MauriceButler I'll pm you on twitter when I arrive I'm 0x604

[2014-05-19 04:44] balupton commented on #13
Is there a flight spreadsheet this time like there was for the first campjs? That was really useful.

[2014-05-19 04:47] KoryNunn commented on #13
@balupton https://docs.google.com/spreadsheet/ccc?key=0Akdx1QAegyNBdEF0MjUtaGdGLUV5WGFRUFBNNDB1N0E&usp=sharing

[2014-05-19 04:58] timoxley commented on #13
@balupton maybe you need to check your spam settings, you don't seem to be getting any emails I'm sending to the address you registered the ticket under: b at lupton.cc?

[2014-05-19 05:06] SomeoneWeird commented on #13
He said from the first campjs :)

[2014-05-20 04:02] balupton commented on #13
@timoxley ahhh right, there's more to that "CampJS III – What you need to know (attempt 2)" email than I initially recognised, it looked as if the address and image was the footer of that email. All good now!

@timoxley is the $30 rent for linen, is that for the entire stay, or per night?

[2014-05-20 04:48] timoxley commented on #13
@balupton the entire stay

[2014-05-20 09:02] jordwest commented on #13
@timoxley does the linen include pillows and blankets too? Just saw that Saturday night might get down to 3 degrees!

[2014-05-22 18:17] mursya commented on #20
So cool! The idea is simply brilliant!

[2014-05-22 18:21] mursya commented on #13
wow, we don't have sleeping bags and count on that linen

[2014-05-27 04:57] davidmason opened #38 "Lightning intros"
Could we have some lightning talks for presenters on the Friday night, as a way to give everyone an easy way to get an overview of all the talks and workshops? Each talk would be a quick blurb about what the talk is about, who it is aimed at, and how much fun it will be.
- allow ~60-90 seconds per talk/workshop, up to 120 seconds for a talk+workshop combo
  - that should keep it within about 30 mi

[2014-05-27 05:01] timoxley commented on #38
That was part of the idea of the "what I'm working on", but we should definitely extend it to talk intros. Maybe even each evening after/during dinner, the presenters for the next day get up and pitch.

[2014-06-02 05:46] AnnaGerber opened #39 "Halloween at CampJS IV"
Halloween (October 31) is my favourite holiday of the year, so I was thinking if people are interested we could do something for Halloween at CampJS on the Friday night?

Not wanting to create too much work for anyone but we could program some scary robotic props using johnny-five, bake some halloween cupcakes, and people could dress up in costumes if they want

Who's in?

[2014-06-02 06:04] timoxley commented on #39
:+1: :+1:

[2014-06-02 06:04] colingourlay commented on #39
I'm all for this.

[2014-06-02 06:05] weilu commented on #39
I'm in :smiley:

[2014-06-02 06:11] timoxley commented on #39
I am going to insist on a smoke machine. Smoke machine might also be a good avenue for some cool hacks with, like, lasers.

[2014-06-02 06:12] colingourlay commented on #39
@timoxley YES.

[2014-06-02 06:12] MauriceButler commented on #39
I happen to have a surprisingly large number of costumes that could possibly appear...

[2014-06-02 06:13] colingourlay commented on #39
If anyone's got spare DVD drives lying around, let's rip them open and dance in the laser light. That's totally safe, right?

[2014-06-02 06:13] AnnaGerber commented on #39
@timoxley ooh "lasers" YES

anyone who doesn't have a costume can just wear a onesie

[2014-06-02 06:14] MauriceButler commented on #39
@colingourlay I actually have a number of old drives as well... :)

[2014-06-03 03:12] nog3 commented on #39
Count me in for this. Pumpkins with matrix displays for faces and all.

Also frickin' lasers.

[2014-06-03 03:56] SomeoneWeird commented on #39
:thumbsup:

[2014-06-09 01:15] davidmason commented on #39
:+1: and I might have a go at making a spookier version of http://campjs.com/images/background.svg with a ghost, pumpkins, etc.

[2014-06-09 01:22] davidmason commented on #38
If we could video these and get them playing on a loop somewhere off to the side, people could wander over at any time and catch up on what is happening. Items could be added to and removed from the loop throughout the weekend. That would also give us some nice material by the end to edit together and show what was on over the weekend.

I don't have the equipment for that at the moment, but I'll s

[2014-06-09 07:13] garrows commented on #38
Maybe card holders at the end of each table instead of the notice board.
Shy people and people not good with names/faces would probably find it hard
to find people. Plus shy people can write on a card easier than do a
lightning talk.
On Jun 9, 2014 11:23 AM, "David Mason" notifications@github.com wrote:

[2014-06-09 07:53] davidmason opened #40 "Helping shy people get involved"
@garrows pointed out in [a separate issue](https://github.com/campjs/campjs/issues/38#issuecomment-45466744) that there are some limitations to collaboration for people who are shy about large crowds and new people. For example, standing up with a mic and introducing a project is very daunting for some, and trying to track down the writer of a project card by asking around may be equally intimidat

[2014-06-09 08:06] davidmason commented on #40
For introducing projects and helping people get connected, we could have a few volunteers go through the tables on Friday night asking people about their projects. These volunteers would be tasked with finding attendees who have a project they would like to collaborate on, but are not comfortable to get up with a microphone in front of everyone. They would find out what level of exposure the atten

[2014-06-09 08:07] davidmason commented on #38
@garrows keep in mind that the main concept is to use lightning intros to introduce the main talks and workshops, and I think we can safely assume that those people will be ok with doing a quick presentation. Video would obviously be opt-in both for playing at the camp, and separately for use after the camp. Video might also be very handy for helping people figure out who to look for if they are i

[2014-06-09 22:18] timoxley commented on #40
Good ideas @davidmason. Along similar lines @domenic has suggested we run a more "mixer" events to break down the cliques more. I agree with all of this and would be happy for it to happen but I need someone to champion organising it.

[2014-06-14 00:13] davidmason commented on #40
@timoxley I'm happy to put my hand up to coordinate some collaboration facilitation on the Friday afternoon/evening.

Do we have a rough idea of attendance numbers/capacity for the next camp? I'll need to get several others to help out, and this would really benefit from volunteers not being spread too thin.

[2014-06-14 01:05] timoxley commented on #40
I think the camp can accommodate 150

[2014-06-14 05:52] timoxley opened #41 "Thank you!"
I've just arrived home from my CampJS/JSConf tour and I wanted to make sure I distributed as much love as possible to everyone who helped make CampJS happen. There's a lot of moving parts that need to come together and I hope to shed some light on how much of a community/group effort CampJS is.

Thanks to @deoxxa and @weilu for building the glorious [intranet page](https://github.com/campjs/campjs

[2014-06-14 06:19] sporto commented on #41
I want to thanks @timoxley and all of you too, it was an awesome event, looking forward to the next one.

[2014-06-14 06:51] juliangruber commented on #41
Thank you!

[2014-06-14 08:12] groundwater commented on #41
@timoxley you are amazing, thanks for the awesome time

![selfie-2](http://i.imgur.com/NAIj7yj.gif)

[2014-06-14 08:16] SomeoneWeird commented on #41
+9999999999999
Let's make IV even better! (idk, can we?)

[2014-06-14 12:22] timoxley opened #42 "Please upload photos to Google+"
Lots of great stuff up here already: https://plus.google.com/communities/106906604683614333625

[2014-06-14 13:50] sidorares commented on #42
https://plus.google.com/+AndreySidorov/posts/3FW2RDhC6Ja

[2014-06-14 15:35] balupton commented on #41
@groundwater we so need a browser extension to turn comment fields into gif action captures

@timoxley (and co) as always, you run a great conference, this was no exception to that. It was great meeting everyone.

[2014-06-14 15:46] groundwater commented on #41
@balupton https://github.com/thieman/github-selfies

[2014-06-14 19:49] ianstormtaylor commented on #41
Tim you are amazing, thanks so much for the awesome time.

Edit: Wow @groundwater I swear I didn't read your comment before posting that ;)

[2014-06-14 21:54] domenic commented on #41
Indeed, thanks so much for a great event!!

[2014-06-14 23:30] markmandel commented on #41
You're welcome @timoxley, thanks for a great weekend, thanks to everyone involved, and thanks for listening to me bring up clojure every so often with your pretend 'I'm listening to you' faces :smile:

[2014-06-14 23:43] chrisbuttery commented on #41
No , thank you man @timoxley

[2014-06-15 02:37] nog3 commented on #41
![selfie-0](http://i.imgur.com/PowG6ZM.gif)

[2014-06-15 05:36] weilu commented on #41
http://whatpeoplesayaboutcampjs.tumblr.com

Submissions welcome: http://whatpeoplesayaboutcampjs.tumblr.com/submit

[2014-06-15 15:56] yields commented on #41
**thank you**

never been to campjs, hopefully i can get a visa next time :)

[2014-06-15 16:45] tadatuta commented on #41
thank you, @timoxley!

[2014-06-15 20:15] calvinfo commented on #41
thanks for all your hard work tim! most fun I've had at a conference, nicely done!

[2014-06-15 20:18] anthonyshort commented on #41
I love CampJS so much. Thanks Tim! You're the best. Looking forward to seeing everyone again soon.

![selfie-3](http://i.imgur.com/MsPRKCn.gif)

[2014-06-15 22:02] davidmason commented on #41
Thanks @timoxley and all the contributors for making it a great experience!

[2014-06-15 22:09] davidmason commented on #40
I think we'll want at least 5-10 volunteers to be able to get around to everyone in a reasonable time then. It is difficult to estimate because it will depend what proportion of people want help presenting something - that will be some useful data to collect during the next camp to inform campjs V.

[2014-06-15 23:54] travisjeffery commented on #41
thanks, tim et al! (btw i'm from canada!)

[2014-06-16 00:50] timoxley commented on #41
@travisjeffery thanks, updated!

[2014-07-08 06:28] timoxley opened #43 "Migrated to campjs/campjs-iii"
Make room for campjs-iv.

[2014-07-08 06:50] davidmason commented on #40
Please use https://github.com/campjs/campjs-iv/issues/1 for further discussion of this issue :)

[2014-08-06 13:32] SomeoneWeird commented on #42
Finally got around to uploading the few photos I took
https://plus.google.com/photos/109956786337780242290/albums/6044442633603066609

[2014-10-27 23:06] mipearson commented on #3
Hi.

Who took home the cabling from the last campjs? Reasonably sure it wasn't TEG (we got NaN & the Routerboard). @SomeoneWeird ? @eugeneware ? @deoxxa ? @cgiffard ?

[2014-10-27 23:16] SomeoneWeird commented on #3
Not me, maybe @rvagg ?

[2014-10-27 23:18] rvagg commented on #3
No, I had limited capacity for taking stuff home because I flew, I'm guessing @eugeneware who may also have the wine glasses? Unless someone's driving up from Melbourne I'll probably be having to buy new glasses for QLD.

[2014-10-27 23:24] cgiffard commented on #3
Not me, sorry! I had a bagful of my own stuff to bring back on the plane.

[2014-10-28 02:25] eugeneware commented on #3
Hi. I have the cables, joiners, some coffee machine and @rvagg's wine glasses too. I can't make it this weekend due to a family wedding. But happy to drop the off to a plane mule in Melbourne if someone has luggage allowance to spare. I live in Glen Waverley

[2014-10-28 04:34] weilu commented on #3
@dcousens Are you coming up from Melbourne?

[2014-10-28 12:09] dcousens commented on #3
Indeed I am
On Oct 28, 2014 3:34 PM, "Wei Lu" notifications@github.com wrote:

[2014-10-28 12:10] dcousens commented on #3
I won't be able to fit much...  But I'll take anything I can.
On Oct 28, 2014 3:34 PM, "Wei Lu" notifications@github.com wrote:

[2014-10-29 01:15] eugeneware commented on #3
It's all good. I've posted the cables up using Express Post. Should get there by the camp start. Tracking link: http://auspost.com.au/track/track.html?id=99601129587201004572503

It was addressed to @timoxley.

[2014-10-29 01:27] SomeoneWeird commented on #3
Boss!

[2017-05-29 01:18] dcousens commented on #3
Close? :dancer:

[2017-05-29 01:50] SomeoneWeird commented on #3
Close!

[2017-05-29 01:50] #3 closed, assigned to nobody